# Environment configuration for cloud storage service
TYPE={account_type}
PROJECT_ID={project_id}
PRIVATE_KEY_ID={private_key_id}
PRIVATE_KEY={private_key}
CLIENT_EMAIL={client_email}
AUTH_URI={auth_uri}
TOKEN_URI={token_uri}
AUTH_PROVIDER_X509_CERT_URL={auth_provider_x509_cert_url}
CLIENT_X509_CERT_URL={client_x509_cert_url}
UNIVERSE_DOMAIN={universe_domain}
BUCKET_NAME={bucket_name}

# Environment configuration for backend voices data uploader
LOG_DIR={log_dir}

INPUT_BLOB_PATH={input_blob_path}
LOCAL_OUTPUT_DIR={local_output_dir}

ANIMATIONS_LOCAL_CSV_PATH={animations_local_csv_path}
FEEDS_LOCAL_CSV_PATH={feeds_local_csv_path}
STORIES_LOCAL_CSV_PATH={stories_local_csv_path}
THEMES_LOCAL_CSV_PATH={themes_local_csv_path}

IMAGE_BASE_URL={image_base_url}
PDF_BASE_URL={pdf_base_url}